@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700&family=Inter:wght@600&family=League+Spartan:wght@500;700&family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,400;0,500;0,600;0,800;1,700&family=Rubik:ital,wght@0,500;1,400&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body{
  font-family: 'Manrope', sans-serif;
}

.vertical-line {
  width: 1px;
  height: 800px; /* Sesuaikan tinggi garis sesuai kebutuhan */
  background-color: #000; /* Ganti dengan warna yang Anda inginkan */
}

.vertical-comment {
  width: 20px;
  height: 80px; /* Sesuaikan tinggi garis sesuai kebutuhan */
  background-color: #ff6600; /* Ganti dengan warna yang Anda inginkan */
}


.sticky_header{
  width: 100%;
  height: 80px;
  line-height: 80px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99999;
  background: #ffffff;
  box-shadow: 3px 3px -8px 3px #ddd;
}

.comment {
  max-height: 150px; /* Atur tinggi maksimum awal */
  overflow: hidden;
  position: relative;
}

.comment.expanded {
  max-height: none; /* Hapus tinggi maksimum saat diperluas */
}

.read-more {
  display: block;
  margin-top: 5px;
  color: black; /* Atur warna teks "Read More" sesuai kebutuhan Anda */
  cursor: pointer;
}

.read-more:hover{
  color: rgb(167, 29, 29);
}

.custom-shadow {
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2); /* Replace the color and other parameters as needed */
}

@media only screen and (max-width:768px){
  .navigation{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: #00000084;
    display: none;
  }

  .menu{
    width: 15rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    background: #fff;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
  }

  .show_menu{
    display:block;
  }
}


/* =============== NAVIGATION =============== */
nav h2{
  font-size: 30px;
  font-weight: 800;
}

h2 span{
  color: red;
  font-weight: 200px;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 120px;
  margin-right: 100px;
  margin-top: 40px;
}

nav a {
  padding: 20px;
  text-decoration: none;
  font-weight: 700;
  color: black;
}

nav a:hover{
  color: red;
}

/* JUDUL */
.judul{
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

.judul h1 {
  color: black; /* Mengubah warna teks menjadi merah */
  font-size: 40px; /* Mengubah ukuran font menjadi 24px */
  font-weight: 800;

}

.scrolll p{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.scrolll p img{
    width: 5px;
    margin: 10px;
}

/* ======== SECTION ========= */
section{
  /* display: flex;
  align-items: center; */
  justify-content: space-evenly;
  width: 90%;
  /* border: 1px solid black; */
  margin-left: 60px;
}

.section1 button{
  display: flex;
  background: black;
  color:white;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px ;
  margin-top: 19px;
}

.section1 button img{
  margin-left: 10px;
}


section h1{
  font-weight: 700;
  font-size: 50px;
  font-family: 'Inter';
}

section h1 span{
  color: red;
}

section .box{
  border: 1px solid #000000;
  padding: 40px;
  padding-bottom:30px;
  border-radius: 10px;
  margin:5px;
}

button {
  border-radius: 10px;
}

/* services */

.box-services{
  display: flex;
  margin-top: 20px;
}

.box-services p{
 font-size: 12px;
}

.box-services img{
  width: 10px;
  height: 10px;
  margin: 10px;
}


/* about me */

.container-about-me{
  /* display: flex;
  align-items: center; */
}


.voxed button{
  display: flex;
  background: black;
  color:white;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px ;
  margin-top: 19px;
}

.voxed button img{
  margin-left: 10px;
}

/* =========== CONTACT ME  =========== */

.section-con{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-him{
  display: flex;
  flex-direction: column;
  margin: 100px;
}

.contact-him input,
.contact-him textarea {
  border: 1px solid rgb(218, 185, 185);
  border-radius: 20px;
  padding: 12px;
  margin: 10px;
}

.contact-him button{
  background: black;
  color: white;
  display: flex;
  padding: 10px;
  margin: 10px;
  /* width: 100px; */
}


.boxx{
   padding: 20px;
   border: 1px solid rgba(0, 0, 0, 0.329);
   border-radius: 20px;
}

/* =========== FOOTER  =========== */

footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

footer h1{
  font-size: 50px;
  font-weight: 700;
}

footer h1 span{
  color:red;
}

footer .scroll-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

footer .icon-media{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
}

footer p small{
  display: flex;
  align-items: center;
  justify-content: center;
}

section .container-about-me{
  display: flex;
}

.container-about-me{
  justify-content: space-between;
  padding: 20px;

}

/* CONTACT ME SECTION */


